<h2>Update publisher</h2>
<hr>
<form class="form-horizontal" (ngSubmit)="updatePublisher()" class="col-md-8 col-md-offset-2">
  <div class="form-group">
    <label>Name</label>
    <input [(ngModel)]="publisher.name" name="name" type="text" class="form-control" placeholder="name" maxlength="255" required>
  </div>
  <div class="form-group">
    <label control-label>Website</label>
    <input [(ngModel)]="publisher.website" name="website" type="text" class="form-control" placeholder="url" maxlength="255"
      required>
  </div>
  <div>
    <button class="btn btn-primary pull-right">Update</button>
  </div>
</form>
